// Font Variables
$headline: Modak;
$headline-fb: Cursive;
$body: "Yanone Kaffeesatz";
$body-fb: sans-serif;

$headline-font-size: 150px;

@import url('https://fonts.googleapis.com/css?family=Modak|Yanone+Kaffeesatz');
